.countable ellipse {
    fill: gray;
}

.uncountableMeager ellipse {
    fill: lightblue;
}

.uncountableComeager ellipse {
    fill: lightgreen;
}

.uncountableUnknown ellipse {
    fill: url(#uncountableUnknownPattern)
}

.unknownMeager ellipse {
    fill: url(#unknownMeagerPattern)
}

.unknownUnknown ellipse {
    fill: url(#unknownUnknownPattern)
}

.level0 ellipse, .level0 rect {
    fill: gray;
}

.level1 ellipse, .level1 rect {
    fill: #66FFCC;
}

.level2 ellipse, .level2 rect {
    fill: #6699FF
}

.level3 ellipse, .level3 rect {
    fill: #CC33FF
}

.level4 ellipse, .level4 rect {
    fill: #FF0066
}

.level3-4 ellipse {
    fill: url(#level3-4)
}

.level2-3 ellipse {
    fill: url(#level2-3)
}

.level2-4 ellipse {
    fill: url(#level2-4)
}

.level1-2 ellipse {
    fill: url(#level1-2)
}

.level0-3 ellipse {
    fill: url(#level0-3)
}

.level1-4 ellipse {
    fill: url(#level1-4)
}

.level0-1 ellipse {
    fill: url(#level0-1)
}

.level0-2 ellipse {
    fill: url(#level0-2)
}

.level0-3 ellipse {
    fill: url(#level0-3)
}

.level0-4 ellipse {
    fill: url(#level0-4)
}



.properlyAbove ellipse, .properlyAbove rect {
    fill: #FFADAD;
}

.above ellipse {
    fill: url(#abovePattern);
}

.properlyBelow ellipse, .properlyBelow rect {
    fill: #ADADFF;
}

.below ellipse {
    fill: url(#belowPattern);
}

.incomparable ellipse {
    fill: #B280B2;
}

.other ellipse {
    fill: gray;
}

.between ellipse {
    fill: lightcoral;
}

.selected ellipse, .selected rect {
    fill: gold;
}


g text {
    pointer-events: none;
    font-family: "Lucida Grande",Lucida,Helvetica,sans-serif;
    font-size: 12px;
}

g.node:hover {
    fill: white;
    font-weight: bold;
}

.className {
    color: #990000;
}

.justificationsTitle {
   font-weight: bold;
   font-size: 20px;
}

a.notALink {
    color: darkblue;
    text-decoration: underline; 
}

a.notALink span {
    pointer-events: none;
}

a.notALink:hover {
    color: red;
    text-decoration: underline;
}


.hovertip {
    position: relative;
    display: none; /* in case javascript is disabled */
    width: 120px;
    border: 2px #82AE47 solid ;
    background-color: #A2D959;
    font-family: "Lucida Grande",Lucida,Helvetica,sans-serif;
    font-size: 12px;
    z-index: 100;
    margin-left: 0px;
    margin-top: 0px;
}

