
g text {
    pointer-events: none;
    font-family: "Lucida Grande",Lucida,Helvetica,sans-serif;
    font-size: 12px;
}

g.node:hover {
    fill: white;
    font-weight: bold;
}

.className {
    color: #990000;
}

.justificationsTitle {
   font-weight: bold;
   font-size: 20px;
}

a.notALink {
    color: darkblue;
    text-decoration: underline; 
}

a.notALink span {
    pointer-events: none;
}

a.notALink:hover {
    color: red;
    text-decoration: underline;
}


.hovertip {
    position: relative;
    display: none; /* in case javascript is disabled */
    width: 120px;
    border: 2px #82AE47 solid ;
    background-color: #A2D959;
    font-family: "Lucida Grande",Lucida,Helvetica,sans-serif;
    font-size: 12px;
    z-index: 100;
    margin-left: 0px;
    margin-top: 0px;
}

#keys {
    position:fixed;
    bottom:10px;
    right:10px;
    font-size: 10px;
    background-color: beige;
    border: 2px black solid;
}