.selected ellipse, .selected polygon {
    fill: gold;
}

.properlyAbove ellipse, .properlyAbove polygon {
    fill: darkred;
}

.above ellipse, .above polygon {
    fill: red;
}

.properlyBelow ellipse, .properlyBelow polygon {
    fill: darkblue;
}

.below ellipse, .below polygon {
    fill: blue;
}

.incomparable ellipse, .incomparable polygon {
    fill: purple;
}

.other ellipse, .other polygon {
    fill: gray;
}

g text {
    pointer-events: none;
}

g.node:hover, g.selected:hover {
    fill: white;
    font-weight: bold;
}

.className {
    color: #990000;
}

a.toggleHelp {
    color: darkblue;
    text-decoration: underline; 
}

a.toggleHelp span {
    pointer-events: none;
}

a.toggleHelp:hover {
    color: red;
    text-decoration: underline;
}