<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>The Computability Menagerie</title>
  <script type="text/javascript" src="{{ url_for('static', filename = 'mathjax/MathJax.js') }}">
      MathJax.Hub.Config({
          extensions: ["tex2jax.js"],
          jax: ["input/TeX", "output/HTML-CSS"],
          tex2jax: {
              inlineMath: [ ['$','$'], ["\\(","\\)"] ],
              displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
          },
          "HTML-CSS": { availableFonts: ["TeX"] }
      });
  </script>
</head>
<body>
{% for implication in implications %}
  {{ implication|safe }}
  <hr/>
{% endfor %}
</body>
</html>


