body {
    font-family: "Lucida Grande",Lucida,Helvetica,sans-serif;
    font-size: 12px;
}

g text {
    pointer-events: none;
    font-family: "Lucida Grande",Lucida,Helvetica,sans-serif;
}

g.node:hover {
    fill: white;
    font-weight: bold;
}

.className {
    color: #990000;
}

.justificationsTitle {
   font-weight: bold;
   font-size: 20px;
}

div.justifications {
    font-size: 14px;
}

span.button {
    color: darkblue;
    text-decoration: underline; 
}

span.button span {
    cursor: default;
}

span.button.disabled {
    color: gray;
    pointer-events: none;
}

span.button:hover {
    color:red;
}

div#space{
    width:300px;
}

div#graph{
    padding-top: 75px;
    padding-bottom:150px;
}

div.hovertip {
    position: relative;
    display: none; /* in case javascript is disabled */
    width: 120px;
    border: 2px beige solid ;
    background-color: #E0E0EB;
    z-index: 100;
    margin-left: 0px;
    margin-top: 0px;
}

div#keys {
    max-width: 200px;
    padding: 8px;
    position:fixed;
    bottom:10px;
    right:10px;
    font-size: 10px;
    background-color: beige;
    border: 2px black solid;
}

div#controlPanel {
    position:fixed;
    font-size: 12px;
    top: 10px;
    left: 10px;
    background-color: beige;
}

div#title {
    padding: 5px;
    background-color: #FDEBC9;
    border-left: 2px beige solid ;
    border-top: 2px beige solid;
    border-right: 2px beige solid;
}

div#title .appName {
    font-size: 18px;
    padding-right: 0.5em;
}

div#controls td {
    background-color: #E0E0EB;
    padding-left: 5px;
    padding-right: 5px;
}

select {
    font-size: 12px;
    font-family: "Lucida Grande",Lucida,Helvetica,sans-serif;
}

div#help {
    width: 730px;
    padding-right: 10px;
    padding-left:10px;
}

div#help ul {
   margin-left: 1;
   padding-left: 2em;
}

div.classList {
    position: absolute;
    left: 0px;
    top: 64px;
    overflow: auto;
    max-height: 500px;
    width: 200px;
    padding: 10px;
    border: 2px beige solid ;
    background-color: #E0E0EB;
    font-size: 12px;
    z-index: 100;
    margin-left: 0px;
    margin-top: 0px;
}

div.classList ul {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0;
    list-style: none;
    padding-left: 1em;
    text-indent: -1em;
}

g.highlightArrow path {
    stroke-dasharray: 5,5;
}

